
.cell{
	display:inline-block;
	margin:5px;
	padding:10px;
	width:40%;
}

img{
width:80px;
hight:100px;
}

.range{
	width:140px;	
}


td{
	width:400px;
	padding:15px;
	margin:10px;
	text-align:left;
	vertical-align: top;
}

table{
	margin:auto;
	margin-top:7%;

}

.btn{
	margin:5px;
	float:right;
}
