.cell {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	width: 40%;
}

img {
	width: 120px;
	hight: 160px;
}

.range {
	width: 140px;
}

td {
	width: 400px;
	padding: 15px;
	margin: 10px;
	text-align: left;
	vertical-align: top;
}

table {
	margin: auto;
	margin-top: 7%;
}

.btn {
	margin: 0 auto;
	margin-top: 15px;	

}

.main_img{
	width:300px;
	height:300px;
	margin:auto;
}

#left_side{
	display:inline-block;
	width:80%;
	margin:auto;
}

#right_side{
	display:inline-block;
	width:10%;
	float:right;
}

.btn-center{
	display:block;
	width:100px;
	margin:0 auto;
	margin-top:20px;
}


ul #double{

  margin-bottom:20px;
  overflow:hidden;
}
.li {
	margin-top:20px;
  line-height:1.5em;
  float:left;
  display:inline;
  width:50%;
}

#col{
	width:70%;
	margin:auto;
}

.index-image-li{
	overflow:hidden;
	margin-right:5px;
	margin-top:25px;
	float:left;
	width:120px;
	height:140px;
}

#btn-r{
	float:right;
	margin-right:30px;
}